.paragraphh {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 65px;
  margin-left: 20px;
  margin-right: 20px;
}
.chart-img {
  width: 350px;
  height: 300px;
}
.paragraph .title {
  margin-top: 30px;
}
.title-one {
  margin-bottom: 15px;
}
.words {
  margin-top: 20px;
}
