.foot{
  background-color: rgb(10, 10, 74);

}
.footer {
  display: grid;
  grid-template-columns: 33% 32% 35%;
  justify-content: center;
  text-align: center;
  color: white;
  height: 200px;
  align-items: center;
}
.newsletter-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
  margin-top: 27px;
}
.email {
  padding: 9px;
  border-radius: 18px;
  border: none;
  background-color: white;
}
.email :hover {
  border: none;
}
.btn3 {
  border: none;
  padding: 7px;
  border-radius: 18px;
  font-weight: bold;
  cursor: pointer;
}
.btn3:hover {
  background-color: rgb(10, 10, 74);
  color: white;
}
.footer {
  margin: 2px 20px;
}
